@page
@model TiendaDSoft63.App.Frontend.Pages.ListaAdminModel
@{
}
<h1>Listado de Administradores</h1>
<table class="table">
    @foreach (var administrador in Model.ListaAdmin)
    {
        <tr>
            <td>@administrador.Id</td>
            <td>@administrador.Nombre</td>
            <td>@administrador.Email</td>
            
        </tr>
        
    }
</table>
